<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/authheader") %>
    <main>
        <h1>Booked Appointments</h1>
        <% for (apmt of apmts) { %>
          <h2>
            <a href="/appointments/<%= apmt._id%>"><%= apmt.type %></a>
          </h2>
        <% } %>
        <br>
        <a href="/new" class="newbtn"><button>Make An Appointment</button></a>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>