<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/authheader") %>
    <main>
        <h1>Appointments</h1>
        <% for (apmt of apmts) { %>
          <h2>
            <%= apmt.name %>
            <%= apmt.date %>
            <%= apmt.type %>
          </h2>
          <a href="/appointments/:id">Info</a>
        <% } %>
        <br>
        <a href="/new" class="newbtn"><button>Make An Appointment</button></a>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>