<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/authheader") %>
    <main>
        <h1 class="title is-1">Booked Appointments</h1>
        <div id="apmts">  
        <% for (apmt of apmts) { %>
            <div class="card" id="appcards">

              <h2 class="apmt-card">
                <span style="font-size: 30px; font-weight: 900;"><%= apmt.type %></span>
                <br><br><%= apmt.date %>
                <br><br><a href="/appointments/<%= apmt.id %>"><button style="background-color: teal; color: white; border: solid teal; margin-bottom: 20px; padding: 5px;">View / Change / Cancel</button></a>
              </h2>
            </div>
          <% } %>
        </div>
        <br><br>
        <a href="/new" class="newbtn"><button style="background-color: teal; color: white; border: solid teal; margin-bottom: 20px; padding: 10px;">Make An Appointment</button></a>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>