<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/authheader") %>
    <main>
        <h1>Booked Appointments</h1>
          <h2>
            <%= apmt.type %>
            <br>
            for
            <br>
            <%= apmt.name %>
            <br>
            on
            <br>
            <%= apmt.date %>
          </h2>
            <a href="/appointments/<%= apmt._id %>/edit"><button>Change Appointment</button></a>
        <br>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>